.contents {
    max-width: 720px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.verify-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    width: 250px;
    height: 65px;
    background-color: #D9D9D9;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.resend-btn {
    border: none;
    background: transparent;
    color: #0073CC;
    font-size: 20px;
    margin-top: 20px;
}